body {
  padding: 70px;
  margin: 70px;
  padding-top: 0px;
  margin-top: 0px;
  font-family: Abel, sans-serif;
  background-color: #171738;
  color: #DFF3E4;
}
.title {
  font-family: Overpass, sans-serif;
  color: #2E1760;
}
.main-name {
  text-align: center;
  font-size: 4em;
  padding: 30px;
  color: #7180B9;
  background-color: #3423A6;
}
.italic {
  color: #7180B9;
  font-size: 1.1em;
  font-weight: 600;
}
.bold {
  font-size: 1.1em;
  color: #7180B9;
  font-weight: bolder;
}
.item-weight-1.odd-item {
  font-size: 2em;
}
.item-weight-2.odd-item {
  font-size: 1.6em;
}
.item-weight-3.odd-item {
  font-size: 1.2em;
}
.sub-title {
  font-size: 2em;
  background-color: #7180B9;
  padding: 10px;
}
#profile-pic {
  display: block;
  margin-right: 15px;
  margin-top: 10px;
  padding: 7px;
  background-color: #7180B9;
  float: left;
  width: 15%;
}
.index-list {
  font-size: 1.5em;
  color: #DFF3E4;
  background-color: #7180B9;
  line-height: 45px;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  margin: 5px;
}
.hyper-link {
  color: #DFF3E4;
}
.blog-link {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: center;
}
.blog-list {
  text-align: center;
  vertical-align: center;
}
.blog-logo {
  width: 100%;
}
.button a:hover{
  font-size: 1.6em;
  padding: 6px 11px;
  color: #171738;
  background-color: #DFF3E4;
}
.body-sub-pic {
  clear: both;
}
